@model IEnumerable<CategoriesModel>
@{
    ViewData["title"] = "Danh Sanh Danh Muc";
}
<h3>Danh sách Danh mục sản phẩm</h3>
<div class="row-sm-3">
    <a class="btn btn-success btn-sm" asp-action="Create" asp-controller="Categories">Thêm danh mục</a>
    <div class="search_box pull-right">
        <form asp-controller="Categories" asp-action="Search" method="get">
            <input type="text" name="searchString" placeholder="Search" />
            <button class="btn btn-default" type="submit">Search</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            @* <th scope="col">ID</th> *@
            <th scope="col">Tên Danh Mục</th>
            <th scope="col">Mô Tả Danh Mục</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Quản lý</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <th scope="row">@item.Id</th> *@
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>
                <td>
                    @if(item.Status == 1)
                    {
                        <span class="text text-success">Hiển thị</span>
                    }
                    else
                    {
                        <span class="text text-danger">Ẩn</span>
                    }
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Categories" asp-route-Id="@item.Id">Sửa</a>
                    <a class="btn btn-danger btn-sm confirmDeletion" asp-action="Delete" asp-controller="Categories" asp-route-Id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>